<!DOCTYPE html>
<html ng-app="jfxrApp">
  <head>
    <title>jfxr</title>
    <meta charset="utf-8">
    <!--
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Chango">
    -->
    <link rel="stylesheet" href="external/fonts.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="JfxrCtrl as ctrl" ng-keydown="ctrl.keyDown($event)">
    <div class="main position-relative">
      <div class="topbar">
        <div class="titlepane column-left">
          <h1>jfxr&thinsp;~</h1>
        </div>
        <div class="pane pane-top-right column-right playbackpane">
          <canvas width="680" height="43" analyser="ctrl.getFrequencyData()" enabled="ctrl.analyserEnabled" ng-click="ctrl.analyserEnabled = !ctrl.analyserEnabled" class="analyser" ng-class="{'analyser-disabled': !ctrl.analyserEnabled}"></canvas>
          <label class="shiny autoplay" ng-class="{'shiny-checked': ctrl.autoplay}" title="Play automatically on change">
            <input type="checkbox" ng-model="ctrl.autoplay"></input>
            <span class="shinycontent">Auto</span>
          </label>
          <button ng-click="ctrl.togglePlay()" class="shiny playstop" ng-class="{'shiny-checked': ctrl.isPlaying()}" title="{{ctrl.isPlaying() ? 'Stop (space)' : 'Play (space)'}}">
            <span class="shinycontent"><span class="playicon">&#x25b6;</span></span>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="pane pane-bottom-left column-left filespane">
          <div class="history">
            Lorem ipsum
          </div>
          <div class="statusbar">
            Render time: {{ctrl.worker.renderTimeMs}}&nbsp;ms
          </div>
        </div>
        <div class="pane pane-bottom-right column-right mainpane">
          <canvas waveshape="ctrl.buffer" class="waveshape"></canvas>
          <div class="parameters vertical-scroll">
            <div class="parameters-column">
              <h2>Tone</h2>
              <custom-param label="ctrl.sound.waveform.label" value="ctrl.sound.waveform.valueTitle()">
                <div class="waveforms">
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="sine" title="Sine"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="triangle" title="Triangle"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="sawtooth" title="Sawtooth"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="square" title="Square"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="tangent" title="Tangent"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="whistle" title="Whistle"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="breaker" title="Breaker"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="whitenoise" title="White noise"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="pinknoise" title="Pink noise"></span>
                  <span ng-model="ctrl.sound.waveform.value" waveform-button="brownnoise" title="Brown noise"></span>
                </div>
              </custom-param>
              <float-param sound="ctrl.sound" param="frequency"></float-param>
              <float-param sound="ctrl.sound" param="frequencySlide"></float-param>
              <float-param sound="ctrl.sound" param="frequencyDeltaSlide"></float-param>
              <float-param sound="ctrl.sound" param="vibratoDepth"></float-param>
              <float-param sound="ctrl.sound" param="vibratoFrequency"></float-param>
              <float-param sound="ctrl.sound" param="squareDuty"></float-param>
              <float-param sound="ctrl.sound" param="squareDutySweep"></float-param>
              <h2>Amplitude</h2>
              <float-param sound="ctrl.sound" param="attack"></float-param>
              <float-param sound="ctrl.sound" param="sustain"></float-param>
              <float-param sound="ctrl.sound" param="decay"></float-param>
              <float-param sound="ctrl.sound" param="tremoloDepth"></float-param>
              <float-param sound="ctrl.sound" param="tremoloFrequency"></float-param>
            </div>
            <div class="parameters-column">
              <h2>Harmonics</h2>
              <float-param sound="ctrl.sound" param="harmonics"></float-param>
              <float-param sound="ctrl.sound" param="harmonicsFalloff"></float-param>
              <h2>Filters</h2>
              <float-param sound="ctrl.sound" param="lowPassCutoff"></float-param>
              <float-param sound="ctrl.sound" param="lowPassCutoffSweep"></float-param>
              <float-param sound="ctrl.sound" param="highPassCutoff"></float-param>
              <float-param sound="ctrl.sound" param="highPassCutoffSweep"></float-param>
              <h2>Output</h2>
              <float-param sound="ctrl.sound" param="compression"></float-param>
              <boolean-param sound="ctrl.sound" param="normalization"></boolean-param>
              <float-param sound="ctrl.sound" param="amplification"></float-param>
            </div>
        </div>
      </div>
    </div>
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    -->
    <script src="external/angular-1.2.16.min.js"></script>
    <script>
      var jfxrApp = angular.module('jfxrApp', []);
      var jfxr = {};
    </script>
    <script src="shims.js"></script>
    <script src="math.js"></script>
    <script src="random.js"></script>
    <script src="sound.js"></script>
    <script src="synth.js"></script>
    <script src="worker.js"></script>
    <script src="ui.js"></script>
    <script src="main.js"></script>
  </body>
</html>

