<!DOCTYPE html>
<html ng-app="jfxrApp">
  <head>
    <title>jfxr</title>
    <meta charset="utf-8">
    <!--
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Chango">
    -->
    <link rel="stylesheet" href="external/fonts.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="JfxrCtrl as ctrl" ng-keydown="ctrl.keyDown($event)">
    <div class="main position-relative">
      <div class="topbar">
        <div class="titlepane column-left">
          <h1>jfxr&thinsp;~</h1>
        </div>
        <div class="pane pane-top-right column-right playbackpane">
          <canvas width="360" height="43" analyser="ctrl.getFrequencyData()" enabled="ctrl.isAnalyserEnabled()" ng-click="ctrl.toggleAnalyserEnabled()" class="analyser" ng-class="{'analyser-disabled': !ctrl.isAnalyserEnabled()}"></canvas>
          <button ng-click="ctrl.togglePlay()" class="playstop" ng-class="{'playstop-play': !ctrl.isPlaying(), 'playstop-stop': ctrl.isPlaying()}" title="{{ctrl.isPlaying() ? 'Stop (space)' : 'Play (space)'}}"></button>
        </div>
      </div>
      <div class="content">
        <div class="pane pane-bottom-left column-left">
          Lorem ipsum
        </div>
        <div class="pane pane-bottom-right column-right">
          <canvas waveshape="sound.getBuffer()" class="waveshape"></canvas>
          <h2>Tone</h2>
          <custom-param label="sound.waveform.label" value="sound.waveform.valueTitle()">
            <span ng-model="sound.waveform.value" waveform-button="sine" title="Sine"></span>
            <span ng-model="sound.waveform.value" waveform-button="triangle" title="Triangle"></span>
            <span ng-model="sound.waveform.value" waveform-button="sawtooth" title="Sawtooth"></span>
            <span ng-model="sound.waveform.value" waveform-button="square" title="Square"></span>
          </custom-param>
          <float-param param="sound.frequency"></float-param>
          <float-param param="sound.frequencySlide"></float-param>
          <h2>Amplitude</h2>
          <float-param param="sound.attack"></float-param>
          <float-param param="sound.sustain"></float-param>
          <float-param param="sound.release"></float-param>
        </div>
      </div>
    </div>
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    -->
    <script src="external/angular-1.2.16.min.js"></script>
    <script>
      var jfxrApp = angular.module('jfxrApp', []);
      var jfxr = {};
    </script>
    <script src="shims.js"></script>
    <script src="sound.js"></script>
    <script src="ui.js"></script>
    <script src="main.js"></script>
  </body>
</html>

