<!DOCTYPE html>
<html ng-app="jfxrApp">
  <head>
    <title>jfxr</title>
    <meta charset="utf-8">
    <!--
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Chango">
    -->
    <link rel="stylesheet" href="external/fonts.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="JfxrCtrl as ctrl" ng-keydown="ctrl.keyDown($event)">
    <a class="github" href="https://github.com/ttencate/jfxr" title="Fork me on GitHub">
    </a>

    <div class="main position-relative">

      <div class="topbar">

        <div class="titlepane column-left">
          <h1>jfxr&thinsp;~</h1>
          <p class="credits">by <a href="http://twitter.com/frozenfractal">@frozenfractal</a></p>
        </div>

        <div class="pane pane-top-right column-right playbackpane">
          <canvas width="680" height="43" analyser="ctrl.getFrequencyData()" enabled="ctrl.analyserEnabled" ng-click="ctrl.analyserEnabled = !ctrl.analyserEnabled" class="analyser" ng-class="{'analyser-disabled': !ctrl.analyserEnabled}"></canvas>
          <label class="shiny autoplay" ng-class="{'shiny-checked': ctrl.autoplay}" title="Play automatically on change">
            <input type="checkbox" ng-model="ctrl.autoplay"></input>
            <span class="shinycontent">Auto</span>
          </label>
          <button ng-click="ctrl.togglePlay()" class="shiny playstop" ng-class="{'shiny-checked': ctrl.isPlaying()}" title="{{ctrl.isPlaying() ? 'Stop (space)' : 'Play (space)'}}">
            <span class="shinycontent"><span class="playicon">&#x25b6;</span></span>
          </button>
        </div>

      </div>

      <div class="content">

        <div class="pane pane-bottom-left column-left filespane">
          <div class="toolbar">
            <button class="button button-tool" ng-click="ctrl.newSound()" title="Create new, default sound">
              <span>New</span>
            </button>
            <button class="button button-tool" ng-click="ctrl.openSound()" title="Load sound from file">
              <span>Open</span>
            </button>
            <button class="button button-tool" ng-click="ctrl.saveSound()" title="Save current sound to file">
              <span>Save</span>
            </button>
            <button class="button button-tool" ng-click="ctrl.exportSound()" title="Export current sound to WAV">
              <span>Export</span>
            </button>
          </div>
          <div class="presets">
            <button ng-repeat="preset in ctrl.presets" class="button button-preset" ng-click="ctrl.applyPreset(preset)">
              <span>{{preset.name}}</span>
            </button>
          </div>
          <ul class="history">
            <li ng-repeat="sound in ctrl.sounds" class="sound" ng-class="{'sound-current': $index == ctrl.soundIndex}" ng-click="ctrl.soundIndex = $index">
              {{sound.name}}
              <button class="iconbutton iconbutton-delete deletebutton" ng-click="ctrl.deleteSound($index)"></button>
            </li>
          </ul>
          <div class="statusbar" ng-switch="ctrl.synth.isRunning()">
            <span ng-switch-when="true">Rendering&hellip;</span>
            <span ng-switch-when="false">Render time: {{ctrl.synth.renderTimeMs}}&nbsp;ms</span>
          </div>
        </div>

        <div class="pane pane-bottom-right column-right mainpane">
          <canvas waveshape="ctrl.buffer" class="waveshape" ng-class="{'waveshape-rendering': ctrl.synth.isRunning()}"></canvas>
          <div class="parameters vertical-scroll">
            <div class="parameters-column">
              <h2 class="amplitude">Amplitude</h2>
              <float-param sound="ctrl.getSound()" param="attack"></float-param>
              <float-param sound="ctrl.getSound()" param="sustain"></float-param>
              <float-param sound="ctrl.getSound()" param="decay"></float-param>
              <float-param sound="ctrl.getSound()" param="tremoloDepth"></float-param>
              <float-param sound="ctrl.getSound()" param="tremoloFrequency"></float-param>

              <h2 class="pitch">Pitch</h2>
              <float-param sound="ctrl.getSound()" param="frequency"></float-param>
              <float-param sound="ctrl.getSound()" param="frequencySweep"></float-param>
              <float-param sound="ctrl.getSound()" param="frequencyDeltaSweep"></float-param>
              <float-param sound="ctrl.getSound()" param="repeatFrequency"></float-param>
              <float-param sound="ctrl.getSound()" param="frequencyJump1Onset"></float-param>
              <float-param sound="ctrl.getSound()" param="frequencyJump1Amount"></float-param>
              <float-param sound="ctrl.getSound()" param="frequencyJump2Onset"></float-param>
              <float-param sound="ctrl.getSound()" param="frequencyJump2Amount"></float-param>

              <h2 class="harmonics">Harmonics</h2>
              <float-param sound="ctrl.getSound()" param="harmonics"></float-param>
              <float-param sound="ctrl.getSound()" param="harmonicsFalloff"></float-param>
            </div>
            <div class="parameters-column">
              <h2 class="tone">Tone</h2>
              <custom-param sound="ctrl.getSound()" param="waveform">
                <div class="paramcontrol waveforms">
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="sine" title="Sine"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="triangle" title="Triangle"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="sawtooth" title="Sawtooth"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="square" title="Square"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="tangent" title="Tangent"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="whistle" title="Whistle"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="breaker" title="Breaker"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="whitenoise" title="White noise"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="pinknoise" title="Pink noise"></span>
                  <span ng-model="ctrl.getSound().waveform.value" waveform-button="brownnoise" title="Brown noise"></span>
                </div>
                <div class="customparamvalue">
                  {{ctrl.getSound().waveform.valueTitle()}}
                </div>
              </custom-param>
              <boolean-param sound="ctrl.getSound()" param="interpolateNoise"></boolean-param>
              <float-param sound="ctrl.getSound()" param="vibratoDepth"></float-param>
              <float-param sound="ctrl.getSound()" param="vibratoFrequency"></float-param>
              <float-param sound="ctrl.getSound()" param="squareDuty"></float-param>
              <float-param sound="ctrl.getSound()" param="squareDutySweep"></float-param>

              <h2 class="filters">Filters</h2>
              <float-param sound="ctrl.getSound()" param="lowPassCutoff"></float-param>
              <float-param sound="ctrl.getSound()" param="lowPassCutoffSweep"></float-param>
              <float-param sound="ctrl.getSound()" param="highPassCutoff"></float-param>
              <float-param sound="ctrl.getSound()" param="highPassCutoffSweep"></float-param>

              <h2 class="output">Output</h2>
              <float-param sound="ctrl.getSound()" param="compression"></float-param>
              <boolean-param sound="ctrl.getSound()" param="normalization"></boolean-param>
              <float-param sound="ctrl.getSound()" param="amplification"></float-param>
            </div>
        </div>
      </div>

    </div>
    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    -->
    <script src="external/angular-1.2.16.min.js"></script>
    <script>
      var jfxrApp = angular.module('jfxrApp', []);
      var jfxr = {};
    </script>
    <script src="file.js"></script>
    <script src="math.js"></script>
    <script src="presets.js"></script>
    <script src="random.js"></script>
    <script src="shims.js"></script>
    <script src="sound.js"></script>
    <script src="synth.js"></script>
    <script src="ui.js"></script>
    <script src="main.js"></script>
  </body>
</html>

