* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #aaa;
  /* TODO vendor prefixes */
  background-color: #101010; 
  background-image: linear-gradient(#101010 0, #101010 8px, #0c0c0c 8px, #0c0c0c 16px);
  background-size: 100% 16px;
  background-position: 0 -4px;
  height: 100%;
}

body {
  padding: 16px;
  box-sizing: border-box;
  height: 100%;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: 0;
  vertical-align: middle;
  font-weight: normal;
}

input, button {
  outline: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
  box-sizing: border-box;
  width: 640px;
  height: 100%;
  min-height: 320px;
  margin: 0 auto;
  border-radius: 16px;
  background: #080808;
  box-shadow:
    0 0 8px #000,
    2px 4px 8px #000,
    1px 2px 4px rgba(255, 255, 255, 0.05) inset,
    -1px -2px 4px rgba(0, 0, 0, 0.1) inset;
}

.topbar {
  display: flex;
  flex-direction: row;
  height: 47px;
  margin-bottom: 8px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.pane {
  position: relative;
  background: #040404;
  box-shadow:
    0.5px 1px 1px rgba(0, 0, 0, 1.0) inset,
    -0.5px -1px 1px rgba(255, 255, 255, 0.2) inset,
    0 0 2px rgba(0, 0, 0, 1.0);
  padding: 8px;
  box-sizing: border-box;
}

.pane-top-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pane-bottom-left {
  border-bottom-left-radius: 8px;
}

.pane-bottom-right {
  border-bottom-right-radius: 8px;
}

.column-left {
  width: 160px;
  margin-right: 8px;
}

.column-right {
  flex-grow: 1;
}

.titlepane {
  margin-left: -8px;
  margin-top: -8px;
  padding-left: 8px;
  padding-top: 8px;
  background: #000;
  border-top-left-radius: 16px;
  box-shadow:
    1px 2px 4px rgba(255, 255, 255, 0.2) inset,
    -1px -2px 4px rgba(255, 255, 255, 0.05) inset,
    0.5px 1px 0.5px rgba(255, 255, 255, 0.3) inset,
    -0.5px -1px 2px rgba(0, 0, 0, 1.0) inset,
    -0.5px -1px 0.5px rgba(255, 255, 255, 0.0) inset,
    0 0 2px rgba(0, 0, 0, 1.0);
}

h1 {
  color: #fff;
  font-family: Chango, sans-serif;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding-left: 4px;
  font-size: 32px;
  line-height: 39px;
}

.playbackpane {
  display: flex;
  align-items: stretch;
  padding: 2px;
}

.analyser {
  flex-grow: 1;
  cursor: pointer;
}

.analyser-disabled {
  background-image: linear-gradient(#080808 0%, #101010 30%, #080808 70%, #000000 100%);
  box-shadow:
    0 0 2px rgba(255, 255, 255, 0.1) inset;
}

.playstop {
  cursor: pointer;
  width: 92px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;

  font-family: Arial, sans-serif;
  font-size: 32px;
  line-height: 32px;

  background-image: linear-gradient(#101020 0%, #404080 100%);
  box-shadow:
    0 0 2px rgba(224, 224, 255, 0.3) inset,
    0 0 8px rgba(0, 0, 0, 1.0) inset,
    0 12px 4px rgba(192, 192, 255, 0.4) inset;

  color: rgba(255, 255, 255, 0.7);
  text-shadow:
    -1px -2px 4px rgba(0, 0, 0, 0.5),
    1px 2px 4px rgba(128, 128, 255, 0.5);
}

.playstop:hover {
  box-shadow:
    0 0 2px rgba(224, 224, 255, 0.5) inset,
    0 0 8px rgba(0, 0, 0, 1.0) inset,
    0 12px 4px rgba(192, 192, 255, 0.7) inset;
  color: rgba(240, 240, 255, 1.0);
  text-shadow:
    -1px -2px 4px rgba(0, 0, 0, 0.5),
    1px 2px 4px rgba(128, 128, 255, 1.0);
}

.playstop:active {
  color: rgba(255, 255, 255, 0.6);
  box-shadow:
    0 0 2px rgba(224, 224, 255, 0.3) inset,
    0 0 8px rgba(0, 0, 0, 1.0) inset,
    0 12px 4px rgba(192, 192, 255, 0.3) inset;
}

.playstop-play:before {
  content: '\25b6';
  vertical-align: 13%;
}

.playstop-stop:before {
  content: '\25fc';
  font-size: 114%;
  vertical-align: 10%;
}

.waveform {
  width: 100%;
  height: 63px;
  background-color: #111;
  box-shadow:
    0.5px 1px 0.5px rgba(255, 255, 255, 0.2),
    1px 2px 2px rgba(0, 0, 0, 1.0);
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 100%;
  color: #555;
  text-shadow: 0 0 1px #333;
  border-bottom: 1px solid #111;
}

.params {
  line-height: 100%;
}

.paramlabel {
  text-align: right;
}

.paramvalue {
  text-align: right;
}

.paramunit {
  text-align: left;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 0) 4px,
    #000 4px,
    #000 5px,
    #222 5px,
    #222 6px,
    #444 6px,
    #444 7px,
    #000 7px,
    #000 8px,
    rgba(0, 0, 0, 0) 8px,
    rgba(0, 0, 0, 0) 12px
  );
  width: 200px;
  height: 12px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #666;
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  border-radius: 2px;
  width: 12px;
  height: 12px;
  box-shadow:
    1px 1px 0.5px rgba(255, 255, 255, 0.3) inset,
    -1px -1px 0.5px rgba(0, 0, 0, 0.5) inset;
}

input[type="range"]::-webkit-slider-thumb:after {
  display: block;
  width: 20px;
  height: 20px;
  left: -4px;
  top: -4px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #888;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: #555;
  box-shadow:
    1px 1px 0.5px rgba(255, 255, 255, 0.3) inset,
    -1px -1px 0.5px rgba(0, 0, 0, 0.5) inset;
}
